<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:replace="/include/top"></div>

<section>
<br><br>
<div align=center> 
<h1> 회원정보조회 </h1>

 <table border=1  width="550"  height="250">
  <tr align="center"> 
	 <th th:text="수강월"/>
	 <th th:text="회원번호"/>
	 <th th:text="회원명"/>
	 <th th:text="강의명"/>
	 <th th:text="강의장소"/>
	 <th th:text="|수강료(원)|"/>
	 <th th:text="등급"/>
  </tr>    

 <tr th:each="m : ${li} "> 
	 
 	 <td align="right" 
	     th:text="${#strings.substring(m.REGIST_MONTH,0,4) +'년'
	              + #strings.substring(m.REGIST_MONTH,4,6) +'월 &nbsp; '}" /> 
	 
	 
	 <td align="center" th:text="${m.C_NO}" />
	 <td align="center" th:text="${m.C_NAME}" />
	 <td align="center" th:text="${m.CLASS_NAME}" />
	 <td align="center" th:text="${m.CLASS_AREA}" /> 
	 <td align="center" >
		 <span th:text="'&#8361;' + |${#numbers.formatInteger(m.TUITION, 0, 'COMMA')}원|"></span>
	 </td>
	 
	 <td align="center" th:text="${m.GRADE}" /> 	 	 
  </tr> 
 
 </table> 

</div>
</section>
<div th:replace="/include/bottom::footer"></div>
</body>
</html>