<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<section>
<br>	
<div th:align="center" >

<form name="f1" method=post >
<table border=1 >
<tr> <td th:text="아이디" />  
     <td> <input type=text name="username" ></td></tr>
<tr> <td th:text="암호" />  
     <td> <input type=text name="password" ></td></tr>

<tr> <td colspan=2  align="center">
     <input type=submit value="로그인" >
     </td> 
</tr>
</table>
</form>
</div>

</section>
</body>
</html>