<html xmlns="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div th:replace="include/header::header"></div>
<section class="main">
    <div align="center"><br>
        <h1>강사 목록</h1>
        <table>
            <tr>
                <td>강사코드</td>
                <td>강사명</td>
                <td>강의명</td>
                <td>수강료</td>
                <td>강사자격취득일</td>
            </tr>
            <tr th:each="m : ${li}">
                <td th:text="${m.teacher_code}"></td>
                <td th:text="${m.teacher_name}"></td>
                <td th:text="${m.class_name}"></td>
                <td data-th-text="${#numbers.formatInteger(m.class_price, 3, 'COMMA')}"class="won-sign"></td>
                <td align="center" th:text="|${#strings.substring(m.teacher_regist_date, 0, 4)}년${#strings.substring(m.teacher_regist_date, 4, 6)}월${#strings.substring(m.teacher_regist_date, 6, 8)}일|" />
            </tr>
        </table>
    </div>
</section>
	</div>
	<div th:replace="include/footer::footer"></div>
</body>

</html>