<html xmlns="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div th:replace="include/header::header"></div>
	<section class="main">
		<div align="center"><br>
			<h1>수강신청</h1>
			<table>
				<tr>
					<td>수강월</td>
					<td><input type="text" name="regist_month">예) 2022년03월 → 202203</td>
				</tr>
				<tr>
					<td>회원명</td>
					<td>
						<select name="c_name" onchange="cltno(this.value)">
							<option value="10001">홍길동</option>
							<option value="10002">장발장</option>
							<option value="10003">임꺽정</option>
							<option value="20001">성춘향</option>
							<option value="20002">이몽룡</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>회원번호</td>
					<td><input id="c_no" name="c_no" readonly>예)10001</td>
				</tr>
				<tr>
					<td>강의장소</td>
					<td><input type="text" name="class_area"></td>
				</tr>
				<tr>
					<td>강의명</td>
					<select name="class_name">
						<option>초급반</option>
						<option>중급반</option>
						<option>고급반</option>
						<option>심화반</option>
					</select>
				</tr>
				<tr>
					<td>수강료</td>
					<td><input type="text" name="class_price">원</td>
				</tr>
			</table>
		</div>
	</section>
	</div>
	<div th:replace="include/footer::footer"></div>
</body>

</html>