header{
    background-color:blue;  /* 가운데 정렬   */
    height:60px;            /* 영역의 높이   */
    line-height:60px;       /* 한글자의 높이 */
    color:#ffffff;          /* 글자색깔      */
    font-size:28px;         /* 글자 사이즈   */
    text-align:center;      /* 가운데 정렬   */
}
nav{
    background-color:#6699ff;
    height:25px;
    line-height:25px;
    font-size:12px;
}
section{
    background-color:#cccccc;
    min-height:550px;
}
footer{
    background-color:#3333ff;
    min-height:30px;
    line-height:30px;
    text-align:center;
    font-size:14px;
}
#body{
    width:90%;
    margin:auto;
}