<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div th:replace="/include/top"></div>

<section>
<br><br>
<div align=center> 
<h2>골프연습장 회원관리 프로그램</h2>
</div>
<div>
<br>&nbsp; 골프연습장 회원정보와 강사정보, 수강정보 데이터베이스를 구축하고 회원관리 프로그램을 작성하는 프로그램이다.
<br>&nbsp; 프로그램 작성순서
<br>&nbsp; 1.강사정보 테이블을 생성한다.
<br>&nbsp; 2.회원정보 테이블을 생성한다.
<br>&nbsp; 3.수강정보 테이블을 생성한다.
<br>&nbsp; 4.강사정보, 회원정보, 수강정보 테이블에 제시된 문제지의 참조데이터를 추가 생성한다.
<br>&nbsp; 5.수강신청 입력 화면 프로그램을 작성한다.
<br>&nbsp; 6.강사정보 조회 프로그램을 작성한다.
<br>&nbsp; 7.회원정보 조회 프로그램을 작성한다.
<br>&nbsp; 8.강사매출현황 조회 프로그램을 작성한다.
</div>
</section>
<div th:replace="/include/bottom::footer"></div>
</body>
</html>